<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  "
>
  <div style="display: flex; flex-direction: row">
    <app-text-input
      (usernameChange)="receiveUsernameOne($event)"
    ></app-text-input>
    <p style="margin: 2vh 20px">VS</p>
    <app-text-input
      (usernameChange)="receiveUsernameTwo($event)"
    ></app-text-input>
  </div>
  <br />
  <br />
  <button class="submit-button" (click)="onSubmit()">Duel</button>
  <div *ngIf="loading" class="spinner"> 
    <mat-spinner></mat-spinner>
  </div>

  <div class="duel-error" *ngIf="error">{{ error.message }}</div>

  <div class="winner-content" *ngIf="duelUsers && duelUsers.length >= 2">
      <img class="winner-gif" *ngIf="userWithMostRepos() === duelUsers[0] || userWithMostRepos() === duelUsers[1]" src="../../assets/winner.gif" alt="Winner GIF">
      <p class="winner-msg" *ngIf="userWithMostRepos() === duelUsers[0]">{{duelUsers[0].username}} has the most public repos!</p>
      <p class="winner-msg" *ngIf="userWithMostRepos() === duelUsers[1]">{{duelUsers[1].username}} has the most public repos!</p>
  </div>

  <div class="duel-users-content">
    <ng-container *ngIf="duelUsers && duelUsers.length >= 2">
      <app-profile 
      *ngIf="duelUsers[0]" 
      [user]="duelUsers[0]"
      [ngClass]="{'more-repos': duelUsers[0]['public-repos'] > duelUsers[1]['public-repos']}"
      ></app-profile>
      <app-profile 
      *ngIf="duelUsers[1]" 
      [user]="duelUsers[1]"
      [ngClass]="{'more-repos': duelUsers[1]['public-repos'] > duelUsers[0]['public-repos']}"
      ></app-profile>
    </ng-container>
  </div>
  
</div>
