<div class="profile-content" *ngIf="user">
  <p><span class="info-category">Username:</span> {{ user.username }}</p>
  <p><span class="info-category">Full Name:</span> {{ user.name }}</p>
  <p><span class="info-category">Location:</span> {{ user.location }}</p>
  <p><span class="info-category">Bio:</span> {{ user.bio }}</p>
  <p><span class="info-category">Followers:</span> {{ user.followers }}</p>
  <p><span class="info-category">Following:</span> {{ user.following }}</p>
  <p><span class="info-category">Public repos:</span> {{ user['public-repos'] }}</p>
  <p><span class="info-category">Titles:</span> {{ user.titles.join(', ') }}</p>
  <p><span class="info-category">Favorite language:</span> {{ user['favorite-language'] }}</p>
  <p><span class="info-category">Highest single repository star count:</span> {{ user['highest-starred'] }}</p>
  <p><span class="info-category">Number of perfect projects:</span> {{ user['perfect-repos'] }}</p>
  <p><span class="info-category">Total number of stars across all repositories:</span> {{ user['total-stars'] }}</p>
  <img class="profile-pic" [src]="user.avatar_url" alt="Profile Picture">
</div>
